# {{ ansible_managed }}

define host{
    {# loop through all key:value pairs and print out the results #}
    {% for key, value in item.iteritems() %}

    {# TODO: establish if this special casing is still required. #}
    {% if key == 'hostgroups' %}
       # Hostgroups this host is a member of
        hostgroups                {{ value | join(",") }},all
    {% else %}
        {{ key }}      {{ value }}
    {% endif %}
    {% endfor %}
}

